.main {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.header {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.error {
  color: white;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
}

.center {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

@media screen and (max-width: 650px) {
  .main {
    width: 70%;
  }
}
